<div class="sidebar">
  <a routerLink="home/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" href=""><i class="fas fa-home"></i>Home</a>
  <a routerLink="crypto/" routerLinkActive="active" href="#crypto"><i class="far fa-chart-bar"></i>Crypto</a>
  <a routerLink="metals/" routerLinkActive="active" href="#metals"><i class="fas fa-user-friends"></i>Metals</a>
  <a routerLink="news/" routerLinkActive="active" href="#news"><i class="fas fa-bullhorn"></i>News</a>
  <!--<a href="#invest"><i class="fas fa-dollar-sign"></i>Invest</a>-->
</div>

<!-- add: class="active" to link you want to be highlighted-->
