
<div id="metals-data-wrap">
  <h1 id="metals-header">Popular Metals</h1>

  <p *ngIf="!metalDatas"><em>Loading...</em></p>

  <body>
    <div id="metals-data" *ngFor="let metalData of metalDatas">
      <h3 class="metals-name">{{metalData.quoteType.shortName}}</h3>

      <p><strong>Open:</strong> ${{metalData.summaryDetail.regularMarketOpen.fmt}}</p>
      <p><strong>Close:</strong> ${{metalData.summaryDetail.regularMarketPreviousClose.fmt}}</p>
      <p><strong>Current Price:</strong> ${{metalData.price.regularMarketPrice.fmt}}</p>
      <p><strong>52-Week High:</strong> ${{metalData.summaryDetail.fiftyTwoWeekHigh.fmt}}</p>
      <p><strong>52-Week Low:</strong> ${{metalData.summaryDetail.fiftyTwoWeekLow.fmt}}</p>
    </div>
  </body>
</div>


<!-- <p>{{metalData.summaryProfile.description}}</p> -->
